*{
  margin: 0;
  padding: 0;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
}

canvas {
  position: absolute;
}

iframe { 
  position: absolute; 
  float: left; 
  clear: both;  
  z-index: 0; 
}

.ai-info{
  position: absolute;
  right: 600px;
  display: flex;
}

#pose-result{
  position: absolute;
  top: 300px;
  left: 760px;
}
