*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body, .app{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.ai-info{
  position: absolute;
  top: 0;
  right: 0;
}

.ai-info video{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  z-index: 1;
  right: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.ai-info canvas {
  position: relative;
  z-index: 2;
}

#robot{
  position: absolute;
  right: 0;
  bottom: 0;
}

#robot > * {
  border: 1px solid black;
  border-radius: 5px;
}

#pose-result > *{
  word-wrap: break-word;
}

